@font-face {
    font-family: "Safety";
    src: url("fonts/safety/SafetyMedium.otf");
    src: url("css/fonts/Harabara.otf") format("opentype")
}

html {
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
    display: block;
}

::selection {
    background: #3f0;
    color: #373d46;
    text-shadow: none;
}

body {
    margin: 0 auto;
    color: #373d46;
    overflow-y: scroll;
    font-family: sans-serif;
    background: #fff;
    line-height: 1.4;
    transition: all .5s ease-in-out;
    display: block;
}

main {
    padding-top: 4em;
    overflow: hidden;
}

.servicemenu li {
    list-style-type: none;
    text-align: right;
}

.servicemenu {
    padding-bottom: 5em;
    display: inline-block;
    width: 48%;
}

div {
    display: block;
}

.img img {
    width: 80%;
    padding: 0 10%;
    background-color: #030304;
    cursor: pointer;
}

img {
    border: 0;
    height: auto;
    width: 100%;
}

.img_some img {
    width: 10%;
    z-index: 100;

}

h2 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 100;
}

iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.ribbon-container {
    position: relative;
}

.ribbon-container2 {
    margin: 0;
}

.container-max {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ribbon {
    padding-bottom: 50px;
    padding-top: 50px;
}

.ribbon--dark-blue {
    background: #414b5a;
    color: #fff;
}

.ribbon--light-gray {
    background: #eaeaea;
}

.media-ribbon .media-text h2.headline,
.media-ribbon .media-text h2.headline.fullwidth {
    width: 100%;
}

.media-ribbon .image,
.media-ribbon .video {
    display: block;
    margin: 0 auto 15px;
}



a {
    font-family: Safety, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #9ea1a5;
    text-transform: uppercase;
    transition: .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-decoration: none;
}

a:hover {
    color: white;
}

.kursiv {
    font-style: italic;
}


.ribbon h2 {
    font-size: 42px;
    font-family: Safety, Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 15px;
}

.text_right {
    width: 46%;
    padding-left: 1em;
    display: none;
}

.img_left {
    width: 46%;
    vertical-align: top;
    padding-right: 1em;
    padding-top: 1.3em;
    display: none;
}

.media-ribbon h2 {
    line-height: 1;
    margin-top: 0;
    display: inline-block;
}

.col-md-6,
.col-text-left,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding: 0;
}

.piechart {
    background: #ddd;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: rotate(-90deg);

}

.pie1 {
    fill: none;
    stroke: #123456;
    stroke-width: 200;
    stroke-dasharray: 600 632;
    transition: all 1s ease;
}

.text-image__content {}

.pie1:hover {
    opacity: 0.8;
}

.pie2:hover {
    opacity: 0.8;
}

.pie2 {
    fill: none;
    stroke: #106d42;
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -600;
    transition: all 1s ease;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#datacontainer {
    display: flex;
    flex-direction: row;
}

#tekstboks1 {
    border: 1px solid black;
    margin-left: 2vw;
    padding: 1vw;
    top: -1vw;
    max-width: 200px;
    background-color: #414b5a;
    color: white;
}

#tekstboks2 {
    border: 1px solid black;
    margin-left: 2vw;
    padding: 1vw;
    top: -1vw;
    max-width: 200px;
    background-color: #414b5a;
    color: white;
}

#close1,
#close2 {
    background-color: #3f0;
    color: white;
    border: none;
    font-weight: bold;
}

.tekst1 {
    transform: rotate(90deg);
    animation-name: fadein;
    animation-duration: 2s;
}

.tekst2 {
    transform: rotate(90deg);
    animation-name: fadein;
    animation-duration: 2s;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-sizing: border-box;
}

footer {
    padding: 1px 0 1px;
    background-color: #28292c;
    color: #9ea1a5;
    display: block;
}

.contact-info {
    display: inline-block;
    width: 48%;
}

.home {
    position: fixed;
    width: 11%;
    padding-top: 1em;
    padding-left: 2em;
}

header {
    position: fixed;
    width: 100%;
    height: 4em;
    z-index: 99;
}

nav {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #28292c;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #28292c;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media print,
(min-width: 768px) .media-ribbon .image.left,
.media-ribbon .video.left {
    float: left;
}

@media only screen and (min-width: 768px) {
    .text_mobil {
        display: none;
    }

    .img_mobil {
        display: none;
    }

    .text_right {
        display: inline-block;
    }

    .img_left {
        display: inline-block;
    }

    .img_some img {
        width: 6%;
         !important
    }
}

@media print,
(min-width: 768px) .media-ribbon .image,
.media-ribbon .video {
    width: 60%;
    margin-bottom: 30px;
    padding: 5px 30px 0 0;
}

@media (min-width: 1025px) .media-ribbon .image,
.media-ribbon .video {
    width: 50%;
    margin-bottom: 45px;
    padding-right: 45px;
}
